.Settings {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.list {
  list-style: none;
}

.listItem {
  margin-bottom: 2rem;
}
