.table{
  border: 2px solid rgba(0,0,0,0.2)
}

.thead{
  border: 2px solid rgba(0,0,0,0.2)
}

.td{
  border: 1px solid rgba(0,0,0,0.2)
}

.button{
    background-color: aliceblue;
    color: #274D00;
    border-radius: .25rem;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
    transition: all 0.3s ease 0s;

}

.button:hover {
    background: rgba(0,0,0,0.2)
  }

.energyPic{
    height: 2rem;
    width: 2rem;
}

.emojiPic{
    height: 2rem;
    width: 2rem;
}