.table {
  border-collapse: collapse;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  padding: 3rem;
}

.thead{
  border-bottom: 4px solid  rgb(204, 204, 204);;
}

.td{
  border-collapse: collapse;
  border-right: 2px solid rgb(204, 204, 204);
  border-left: 2px solid rgb(204, 204, 204);
}



.button{
    color: #274D00;
    border-radius: .25rem;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
    transition: all 0.3s ease 0s;

}

.button:hover {
    background: rgba(0,0,0,0.2)
  }

.energyPic{
    height: 2rem;
    width: 2rem;
}

.emojiPic{
    height: 2rem;
    width: 2rem;
}