.sliderContainer {
  margin: auto;
  height: 3rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
}

.energyValue {
  font-size: 1.5rem;
  align-self: center;
  padding-left: 2rem;
}



input.slider[type='range'] {
  /* removing default appearance */
  align-self: center;
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  justify-content: start;
  cursor: pointer;
  outline: none;
  height: 1rem;
  background: #ccc;
  border-radius: 1rem;
  overflow: hidden;
}

/* Track: webkit browsers */
input.slider[type='range']::-webkit-slider-runnable-track {
  height: 1rem;
  background: #ccc;
  border-radius: 1rem;
} 

/* Thumb: webkit */
input.slider[type='range']::-webkit-slider-thumb {
  /*creating a custom design */
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12;
  height: 3rem;
  width: 2rem;
  background-image: url('../../../public/media/Lightning.png');
  background-size: contain;
  border-radius: 50%;
  border: none;
  box-shadow: -407px 0 0 400px #f50; 
  transition: 0.2s ease-in-out;
} 




/* Track: Mozilla Firefox */
input.slider[type='range']::-moz-range-track {
  height: 1rem;
  background: #ccc;
  border-radius: 16px;
}

input[type="range"]::-moz-range-progress{
  background-color: #f50;
  height: inherit;
}


/* Thumb: Firefox */
input.slider[type='range']::-moz-range-thumb {
  height: 2rem;
  width: 2rem;
  background-image: url('../../../public/media/Lightning.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}





