/* .sliderContainer{
    display: flex;
    margin: auto;
    width: auto;
    height: 4rem;
    padding: .5rem;
    justify-content: center;
    align-content: center;
   
}
 */
.sliderContainer {
  margin: auto;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
}

.energyValue {
  font-size: 2rem;
  width: 10%;
}

input.slider[type='range'] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;

  /* creating a custom design */
  width: 50%;
  cursor: pointer;
  outline: none;

  /*  styling the track  */
  height: 1rem;
  background: #ccc;
  border-radius: 1rem;

  /*  slider progress trick  */
  overflow: hidden;
}

/* Track: webkit browsers */
input.slider[type='range']::-webkit-slider-runnable-track {
  height: 1rem;
  background: #ccc;
  border-radius: 1rem;
}

/* Track: Mozilla Firefox */
input.slider[type='range']::-moz-range-track {
  height: 1rem;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input.slider[type='range']::-webkit-slider-thumb {
  /* creating a custom design */
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12;
  height: 2rem;
  width: 2rem;
  background-image: url('../../../public/media/Lightning.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  box-shadow: -407px 0 0 400px #f50;
  transition: 0.2s ease-in-out;
}

/* Thumb: Firefox */
input.slider[type='range']::-moz-range-thumb {
  height: 2rem;
  width: 2rem;
  background-image: url('../../../public/media/Lightning.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}
