@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.emojiPic {
  max-width: 100%;
  max-height: 100%;
  width: 3rem;
  height: 3rem;
}

.emotionsContainer {
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
}

.list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  animation-name: fadein;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}

.list li {
    margin: 0;
    padding: 0;
}

.img {
  width: 3rem;
  height: 3rem;
}

.emotionsContainer .list {
  display: flex;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 5px;
  flex-shrink: 0;
  border-radius: 50%;
  transition: background .5s;
}

.listButton:hover {
    background: #e8d9f0;
}
