.emojiPic{
    max-width: 100%;
    max-height: 100%;
    width: 2rem;
    height: 2rem;
}

.emotionsContainer{
    margin: auto;
    padding: .5rem;
    align-self: center;
}

.emotionsContainer:hover .emojiPic{
    opacity: 0.5;
}

.list{
    display: none;
    list-style: none;
    position: absolute;
    top: 32%;
    left: 3.5%;
    z-index: 2;
}
.img {
    width: 2rem;
    height: 2rem;
}

.emotionsContainer:hover .list{
    display:flex;
}