.img{
    max-width: 100%;
    max-height: 100%;
    width: 2rem;
    height: 2rem;
}

.calendarContainer{
    margin: auto;
    padding: .5rem;
    align-self: center;
}

.lineChartContainer{
    position: absolute;
    top: 45%;
    left: 23%;
    background-color: #f0f0f0;
    border: solid black .5px;
    border-radius: 5px;
    padding: .5rem;
    z-index: 2;
}