.calendarContainer{
    display: flex;
    margin: auto;
    width: auto;
    height: 11rem;
    padding: .5rem;
    justify-content: center;
    align-content: center;
}

.img{
  max-width: 100%;
  max-height: 100%;
  width: 2rem;
  height: 2rem;
}

.container{
  margin: auto;
  padding: .5rem;
}


.button{
  appearance: none;
  background: none;
  color: transparent;
  border: none;
  cursor: pointer;
}