.container {
    width: 100%;
}

.img{
    max-width: 100%;
    max-height: 100%;
    width: 2rem;
    height: 2rem;
}

.calendarContainer{
    margin: auto;
    padding: .5rem;
    align-self: center;
}

.lineChartContainer{
    width: 100%;
}

.calendarButton {
    border: none;
    background: none;
}