html{
  font-size: 16px;
  background-color: #f1f3fd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #9092c6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardContainer {
  margin-bottom: 0; /* Temp fix: Saved notes have margin (James)*/
}

.cardTitle {
  text-align: left;
  background-color: #fff;
  display: inline;
  padding: 0.65rem;
  padding-top: 0.45rem;
  margin-left: 1.5rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 15px 25px rgba(0,0,0,.15), 0 5px 10px rgba(0,0,0,0.05);
  color: #9092c6;
  font-size: 0.9rem;
  font-weight: 200;
  justify-self: start;
  align-self: start;
}

