* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

body, section, thead {
    width: 100%;
}

header {
    background-color: rgb(31, 30, 30);
    width: 100%;
    height: 73px; 
    
}

header h1 {
    color: aliceblue;
    display: inline;
    position: relative;
    top: 11px;
    left: 3px;
    width: 100px;
    font-size: 50px;
}

header h4 {
    color: aliceblue;
    width: fit-content;
    display: inline;
    text-align: right;
    float: right;
    position: relative;
    top: 41px;
    right: 4px;
    font-weight: 700;
    font-style: italic;
}

header h4 span {
    position: relative;
    bottom: 3px;
    left: 5px;
   
}

header #underline {
    border-bottom: 1px solid aliceblue;
    width: 100%;
    position: relative;
    top: 1px;
}

nav {
    width: 100%;
    background-color: gainsboro;
    position:sticky;
    top: 0px;
}

nav ul {
    padding: 5px 0;
    padding-left: 3px;
}

.nav {
    display: inline;
    padding: 0 5px;
    border: 3px inset black;

}

.nav a:visited {
    color: rgb(49, 49, 238);
}

.nav:hover {
    border: 1px outset black;
    box-shadow: 0px 1px 2px black;
    
}

.nav:active {
    position: relative;
    top: 1px;
    box-shadow: 0px 0px 0px black;
}

.nav a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(49, 49, 238);
    text-align: center;
}

table {
    width:98%;
    border-right: 1px solid rgb(31, 30, 30);
    border-left: 1px solid rgb(31, 30, 30);
    border-bottom: 1px solid rgb(31, 30, 30);
    margin-top: -1px;
    margin: 0px 19.5px;   
}

#colors th {
    padding: 25px 0 5px 0;
    font-size: 30px;
}

#colors td {
    padding: 0px;
    font-weight: 900;
    font-size: 18px;
    width: 300px;
}

#colors td div {
    font-family: 'Open Sans';
}

h3 {
    margin-top: 15px;
    background-color:rgb(31, 30, 30);
    text-align: left;
    padding-top: 3px;
    padding-left: 12px;
    color:aliceblue;
    font-style: italic;
    font-size: 40px;
    font-family: 'Bebas Neue';
    color: rgb(62, 202, 202);
}

#colors div {
    width: 70%;
    min-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.fore span {
    font-size: 14px;
    margin: 5px 2px;
    font-family: 'Open Sans';
}

.fore {
    flex-direction: column;
    height: fit-content;
}
/*color set 1*/
.FFDD99 {
    background-color: #FFDD99;
}

.H002775 {
    color: #002775;
}

.H003AAD {
    color: #003AAD;
}

.H614100 {
    color: #614100;
}

.H005710 {
    color: #005710;
}

.H99FFAA {
    background-color: #99FFAA;
}

.H570048 {
    color:#570048;
}

.H99BBFF {
    background-color: #99BBFF;
}

.FF99EE {
    background-color: #FF99EE;
}
/*color set 2*/
.H26E600 {
    background-color: #26E600;
}

.H0A3D00 {
    color:#0A3D00;
}

.H003652 {
    color:#003652;
}

.H5E0070 {
    color:#5E0070;
}

.H612000 {
    color:#612000;
}

.H0099E6 {
    background-color: #0099E6;
}

.C000E6 {
    background-color: #C000E6;
}

.E64D00 {
    background-color: #E64D00;
}
/*color set 3*/
.FFFF66 {
    background-color: #FFFF66;
}

.H575700 {
    color:#575700;
}

.H006130 {
    color:#006130;
}

.H1F1FFF {
    color:#1F1FFF;
}

.A80054 {
    color:#A80054;
}

.H66FFB3 {
    background-color: #66FFB3;
}

.H474700 {
    color:#474700;
}

.H005229 {
    color:#005229;
}

.H0000F5 {
    color:#0000F5;
}

.H94004A {
    color:#94004A;
}

.H6666FF {
    background-color: #6666FF;
}

.FF66B3 {
    background-color: #FF66B3;
}

.H00004D {
    color:#00004D;
}

/*color set 4*/
.H26004D {
    background-color: #26004D;
    color: aliceblue;
}

.C48AFF {
    color:#C48AFF;
}

.FF7A7D {
    color:#FF7A7D;
}

.H5EBD00 {
    color:#5EBD00;
}

.H00B8B1 {
    color:#00B8B1;
}

.H4D0001 {
    background-color: #4D0001;
    color: aliceblue;
}

.CC99FF {
    color:#CC99FF;
}

.FF8A8C {
    color:#FF8A8C;
}

.H61C200 {
    color:#61C200;
}

.H00C2BF {
    color:#00C2BF;
}

.H274D00 {
    background-color: #274D00;
    color: aliceblue;
}

.EBD6FF {
    color:#EBD6FF;
}

.FFD1D2 {
    color:#FFD1D2;
}

.H7DFA00 {
    color:#7DFA00;
}

.H00F5F1 {
    color:#00F5F1;
}

.H004D4C {
    background-color: #004D4C;
    color: aliceblue;
}


/*color set 5*/
.FF3355 {
    background-color: #FF3355;
}

.BBFF33 {
    background-color: #BBFF33;
}

.H9E001A {
    color:#9E001A;
}

.H385200 {
    color:#385200;
}

.H005748 {
    color:#005748;
}

.H4D00E6 {
    color:#4D00E6;
}

.H33FFDD {
    background-color: #33FFDD;
}

.H940019 {
    color:#940019;
}

.H334D00 {
    color:#334D00;
}

.H005244 {
    color:#005244;
}

.H4900DB {
    color:#4900DB;
}

.H7733FF {
    background-color: #7733FF;
}
/*color set 6*/
.H828602 {
    background-color: #828602;
    color: aliceblue;
}

.H028647 {
    background-color: #028647;
    color: aliceblue;
}

.H050286 {
    background-color: #050286;
    color: aliceblue;
}

.B0B602 {
    color:#B0B602;
}

.H02CA69 {
    color:#02CA69;
}

.ADAAFD {
    color:#ADAAFD;
}

.FD8BC1 {
    color:#FD8BC1;
}

.H860240 {
    background-color: #860240;
    color: aliceblue;
}

.DCE302 {
    color:#DCE302;
}

.H03FC84 {
    color:#03FC84;
}

.D7D7F9 {
    color:#D7D7F9;
}

.FDCEE3 {
    color:#FDCEE3;
}

#fonts th {
    text-align: left;
    padding: 10px 15px;
    font-size: 22px;
    text-decoration: underline;
}

#fonts td {
    padding: 7px 15px;
    font-size: 21px;
}

#fonts li {
    list-style-type: none;
    padding-top: 12px;
}

#fonts a, #css-tricks a {
    color: rgb(49, 49, 238);
}

#fonts a:visited, #css-tricks a:visited {
    color: rgb(49, 49, 238);
}

#fonts a:hover, #css-tricks a:hover {
    color: rgb(255, 43, 85);
}

#os li, #os a {
    font-family:'Open Sans';
}

#pts li, #pts a {
    font-family: 'PT Serif';
}

#belanosima li, #belanosima a {
    font-family: 'Belanosima', sans-serif;
}

#roboto-mono li, #roboto-mono a {
    font-family: 'Roboto Mono', monospace;
}

#dancing-script li, #dancing-script a {
    font-family: 'Dancing Script', cursive;
    font-size: 27px;
}

#rbo li, #rbo a {
    font-family: 'Roboto';
}

#lora li, #lora a {
    font-family: 'Lora';
}

#mf li, #mf a {
    font-family: 'Monofett';
    font-size: 30px;
}

#abril-fatface li, #abril-fatface a {
    font-family: 'Abril Fatface', cursive;
}

#cormorant li, #cormorant a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

#caprasimo li, #caprasimo a {
    font-family: 'Caprasimo', cursive;
    font-size: 25px;
}

#tw li, #tw a {
    font-family: 'Titillium Web';
}

#bt li, #bt a {
    font-family: 'Bitter';
}

#bn li, #bn a{
    font-family: 'Bebas Neue';
    font-size: 25px;
}

#d li, #d a {
    font-family: 'Dosis';
}

#pfd li, #pfd a {
    font-family: 'Playfair Display';
}

#rw li, #rw a {
    font-family: 'Raleway';
}

#m li, #m a {
    font-family: 'Mukta';
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

#text-styles ul {
    width: fit-content;
}

#text-styles li {
    list-style-type: none;
    font-family: 'Roboto';
}

#text-styles td {
    padding-bottom: 10px;
}

#text-styles tr {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#colors th, #text-styles th {
    width: 100%;
    border-bottom: 1px solid black;
}

table h4 {
    font-size: 18px;
}

#declarations td {
    padding-left: 15px;
}

#css-tricks td {
    padding-left: 15px;
}

#css-tricks th {
    text-align: left;
}